.darkbg{

    background-color: #F3F3F3 ;
}

h1{
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
    font-size: 2.625em;
    line-height: 1.45em;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: .1em;
    width: 100%;
    text-shadow: 2px 2px 0 rgba(0,0,0,.5);
    float: left;
}