.darkbg{

    background-color: #F3F3F3 ;
}

h1{
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
    font-size: 2.625em;
    line-height: 1.45em;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: .1em;
    width: 100%;
    text-shadow: 2px 2px 0 rgba(0,0,0,.5);
    float: left;
}

.badge-primary{
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: #fff;

}
.badge-primary:hover{
    -webkit-transform: scale(1.1);
    background: #31708f;
}

.btn-primary{
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: #fff;
    LINE-height:40px;
}
.btn-primary:hover{
    -webkit-transform: scale(1.1);
    background: skyblue;
}
.btn-secondary{
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: #fff;
    LINE-height:40px;
}
.btn-secondary:hover{
    -webkit-transform: scale(1.1);
    background: black;
}
.btn-warning{
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: #fff;
    LINE-height:40px;
}
.btn-warning:hover{
    -webkit-transform: scale(1.1);
    background: darkorange;
}

.glow {
    color: black;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(76, 0, 255), 0 0 30px #c4ff23, 0 0 40px #cefd23, 0 0 50px #e60073, 0 0 60px #000000, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px rgb(207, 252, 6), 0 0 30px #a7f517, 0 0 40px #3609ff, 0 0 50px #e73c30, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #810845;
    }
  }