#autoinsurance{
    width: 100%;
     background-color: #ddd;
     border-radius: 25px;
  }
  #autoinsurancebar{
    border-radius: 25px;
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
  }
  #home{
    border-radius: 25px;
    width: 100%;
    background-color: #ddd;

  }
  #homebar{
    border-radius: 25px;
    width: 0%;
    height: 30px;
    background-color: #4CAF50;

  }