#autoinsurance{
    width: 100%;
     background-color: #ddd;
     border-radius: 25px;
  }
  #autoinsurancebar{
    border-radius: 25px;
    width: 50%;
    height: 30px;
    background-color: #4CAF50;
  }
  #home{
    border-radius: 25px;
    width: 100%;
    background-color: #ddd;

  }
  #homebar{
    border-radius: 25px;
    width: 25%;
    height: 30px;
    background-color: #4CAF50;

  }
  #food{
    border-radius: 25px;
    width: 100%;
    background-color: #ddd;

  }
  #foodbar{
    border-radius: 25px;
    width: 60%;
    height: 30px;
    background-color: #4CAF50;

  }
  #hobbies{
    border-radius: 25px;
    width: 100%;
    background-color: #ddd;

  }
  #hobbiesbar{
    border-radius: 25px;
    width: 45%;
    height: 30px;
    background-color: #4CAF50;

  }