.container1 {
    animation: transitionIn 2s;
    transition-delay: 1s;
}
.display-4{
    color: black;
}
.subdisplay{
    color: black;
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
.grow{
    background: #36363657;
    border-radius: 6px
    transition-property: background, border-radius;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}
.grow:hover
{
    background: #86868688;
    border-radius: 50%;
}