.container1 {
    animation: transitionIn 1.3s;
}


.banner {
    background-image: url("homefiles/banner.jpg");
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}

